.flip-container{
  perspective: 500px;
  display: inline-block;
  background-color: transparent;
}

.flipper{
  position: relative;
  transition: transform .3s ease-in-out;
}

.side {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  transition: transform .5s ease-in-out;
}

.side.card-front {
  transform: rotateY(180deg);
  background-color: blanchedalmond;
}

.side.card-back {

}

.flip-container.flipped .card-back {
  transform: rotateY(180deg);
}

.flip-container.flipped .card-front {
  transform: rotateY(0);
}