body {
  margin: 0;
  font-family: 'Yusei Magic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(77,214,104);
  background: radial-gradient(circle, rgba(77,214,104,1) 34%, rgba(2,184,38,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
